---
layout: page
title: People
description: "The Pangeo Community"
---

<p>Pangeo is an open group. Anyone who agrees with our
<a href="{{ site.baseurl }}/">mission and vision</a> is welcome to join.<p>

<p>To add your name to the list, fork the
<a href="https://github.com/pangeo-data/pangeo-data.github.io">source for this site</a>
on GitHub, add your details to the file <em>_data/people.yml</em>, and submit
a pull request. The easiest way to do this is to directly
<a href="https://github.com/pangeo-data/pangeo-data.github.io/blob/master/_data/people.yml">edit
  the file</a> on GitHub.
</p>


{% assign people = site.data.people | sort:"last_name" %}

{% for person in people %}

<div class="panel panel-default">
<div class="panel-heading">
<ul class="list-inline">
    <li><h3>{{ person.first_name }} {{ person.last_name}}</h3></li>
    {% if person.github %}
    <li>
        <a href="https://github.com/{{ person.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if person.twitter %}
    <li>
        <a href="https://twitter.com/{{ person.twitter }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
    </li>
    {% endif %}

    {% if person.email %}
    <li>
        <a href="mailto:{{ person.email }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-envelope fa-stack-1x"></i>
            </span>
        </a>
    </li>
    {% endif %}
    {% if person.website %}
    <li>
        <a href="{{ person.website }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-external-link fa-stack-1x"></i>
            </span>
        </a>
    </li>
    {% endif %}
</ul>
</div>
<div class="panel-body">
{{ person.institution }}

<p>{% for tag in person.tags %}
<button type="button" class="btn btn-primary btn-sm">{{ tag }}</button>
{% endfor %}</p>
</div>
</div>

{% endfor %}
