<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about">About</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/people">People</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/guidelines">guidelines</a>
                </li>
                {% for coll in site.collections %}
                {% unless coll.label == "posts" %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">{{ coll.name }}<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for doc in coll.docs %}
                    <li>
                        <a href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                {% endunless %}
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
